---
import "../styles/global.css";
---

<div
    class="text-center flex flex-col items-center justify-center h-screen"
    role="main"
>
    <h1 class="u-sr-only">Page non trouvée</h1>
    <div
        class="w-65 h-65 rounded-full mx-auto bg-rougevif flex flex-col justify-center items-center"
    >
        <p class="font-bold text-5xl">404</p>
        <p class="font-semibold text-2xl">Page introuvable</p>
    </div>
    <a
        class="inline-block mt-(--spacing-4xl) text-base underline"
        href="index.html"
    >
        Revenir à l’accueil
    </a>
</div>
